[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
werkzeug = "*"
python-dotenv = "*"
pymongo = {extras = ["srv"], version = "*"}
dnspython = "*"
certifi = "*"

[dev-packages]

[requires]
python_version = "3.11"
