[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
flask-login = "*"
werkzeug = "*"
python-dotenv = "*"
dnspython = "*"

[dev-packages]

[requires]
python_version = "3.11"
